.products-list-item {
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);

  margin-bottom: 0.5rem;

  &:hover {
    cursor: pointer;
    background-color: aliceblue;
  }
  
  .c:last-child {
    text-align: right;
  }
}
