<div class="row products-list-item mx-0 py-3" *ngIf="product">
  <div class="c col-sm-12 col-md-3 manufacturer">{{ product.manufacturer.replace('-', ' ') | titlecase }}</div>
  <div class="c col-sm-12 col-md-3 name">{{ product.name | titlecase }}</div>
  <div class="c col-sm-12 col-md-3 description">{{ product.description | titlecase }}</div>
  <div class="c col-sm-12 col-md-3 id">{{ product.id }}</div>
</div>
