<div class="p-2">
  <div class="product-details p-2">
    <h2>{{ product.name | titlecase }}</h2>
    <p>{{ product.manufacturer.replace('-', ' ') | titlecase }} | {{ product.id }}</p>
    <p class="muted adnotation">Replacements found: {{ replacementsCount }}</p>
    <!-- <p class="adnotation"><a class="muted" href="{{product.image}}" target="_blank">{{product.image}}</a></p> -->
  </div>
</div>
