.product-details {
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  background-color: aliceblue;

  .muted {
    color: grey;
  }

  .adnotation {
    font-size: 0.8rem;
  }
}
