@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Kanit&display=swap');

header.navbar {
  color: #fff;
  background: linear-gradient(135deg, #0143a3, #0273d4);
  font-family: 'Kanit', sans-serif;

  h1,
  h2 {
    margin: 0;
    cursor: pointer;
  }
  h1 {
    font-size: 1.75rem;
  }
  h2 {
    font-size: 1.5rem;
  }

  .gl-anchor {
    color: #fff;
    &:hover {
      color: #fc6d27;
    }
  }
}
