<header class="navbar fixed-top navbar-expand navbar-dark px-4 flex-column flex-md-row align-items-center gap-4">
  <h1 (click)="navigateHome()">MPC</h1>
  <h2 (click)="navigateHome()" class="d-none d-md-inline-block">Miniature's Paints Catalog</h2>
  <span class="flex-grow-1 d-none d-md-inline-block"></span>
  <a class="gl-anchor d-none d-md-inline-block" href="https://gitlab.com/piotr-placzek/miniatures-painting-center" target="_blank"><i class="bi bi-gitlab"></i></a>
  <a href="https://buycoffee.to/poohpatine" target="_blank"><img src="/assets/bmc.png" height="32px"/></a>
</header>
<div style="height: 48px"></div>
<router-outlet></router-outlet>
