<div class="products-list p-2">
  <div class="input-group mb-2" *ngIf="!hideSearchingForm">
    <input
      type="text"
      class="form-control search-input"
      placeholder="Search product by code, name or manufacturer"
      aria-label="Search products"
      aria-describedby="basic-addon2"
      [(ngModel)]="searchInput"
      [ngModelOptions]="{ standalone: true }"
      (ngModelChange)="search.emit($event)" />
    <button type="button" class="btn bg-transparent btn-clear" *ngIf="searchInput" (click)="clearSearchInput()">
      <i class="bi bi-x-circle"></i>
    </button>
  </div>
  <div #items class="overflow-auto">
    <p class="px-2" *ngIf="products.length < 1">No products found.</p>
    <mpc-products-list-item *ngFor="let product of products" [product]="product" (click)="itemClicked(product)"></mpc-products-list-item>
  </div>
</div>
