<mpc-product-details *ngIf="product"  [product]="product!" [replacementsCount]="products.length"></mpc-product-details>
<div class="d-flex">
    <div class="products flex-fill">
        <mpc-products-list [hideSearchingForm]="hideSearchingForm" [products]="products" (search)="searchProducts($event)"></mpc-products-list>
    </div>
</div>